
  
    <div class="newsletter subscription">  
      <div class="row">
      <div class="col-sm-12">
        <div class="content">
          <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>              
              <input type="email" name="joinus" class="form-control" placeholder="Enter your email" autofocus>
              <span class="input-group-btn">
              <button class="allbtn" type="button">Subscribe Now</button>
          
              </span>
        </div>
      </div>
      </div>
    </div>
      <div class="announcement">
          <img class="ad" src="/image/hand.png" alt="">
          <a href="/contact" class="allbtn adbtn">Advertise with us</a>
        </div>
